@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #F3F5FC;
  padding: 40px;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
}


header a{
  position: absolute;
  top: 40px;
  left: 84px;
}

main {
  margin-left: auto;
  width: 100%;
  max-width: 1200px;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
}

.container.text-container {
  margin-right: 80px;
  width: 60%;
  max-height: 650px;
  height: 100%;
}

.container.text-container textarea{
  width: 100%;
  height: 95%;
  resize: none;
  background: transparent;
  border: none;
  color: #0A3871;
  font-size: 32px;
  font-family: inherit;
}

.container.text-container .buttons-container {
  width: 100%;
  min-height: 70px;
  margin-top: 100px;
}

.container.text-container .buttons-container span {
  display: inline-block;
  font-size: 12px;
  color: #495057;
  margin-bottom: 16px;
}

.container.text-container .buttons-container span::before {
  content: "!";
  display: inline-flex;
  background: #495057;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: #F3F5FC;
  margin-right: 8px;
}

.container.text-container .buttons-container div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container.text-container .buttons-container button {
  width: 328px;
  height: 67px;
  padding: 24px;
  border-radius: 24px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.container.text-container .buttons-container button.bg-blue{
  background-color: #0A3871;
  color: #fff;
}

.container.text-container .buttons-container button.bg-white{
 background: #D8DFE8;
 border: 1px #0A3871 solid;
 color: #0A3871;
}

.container.white-container {
  width: 30%;
  height: 90vh;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container.white-container h2 {
  font-size: 24px;
  font-weight: 700;
  color: #343A40;
  margin: 20px 0;
}

.container.white-container span {
  font-size: 16px;
  color: #495057;
}


.container.white-container .with-messege {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all .5s ease-in-out;
}

.container.white-container .with-messege p {
  font-size: 24px;
  color: #495057;
  text-align: start;
}

.container.white-container .with-messege button {
  width: 100%;
  height: 67px;
  padding: 24px;
  border-radius: 24px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 30px;
}

.container.white-container .with-messege button.bg-white{
  background: #FFFFFF;
  border: 1px #0A3871 solid;
  color: #0A3871;
 }

 #display-none {
  display: none;
}


footer {
  text-align: center;
  font-size: 16px;
  color: #343A40;
  display: block;
}

footer a {
  text-decoration: none;
  color: #0A3871;
}

@media (min-width: 1440px) {
  main {
    width: 90%;
    max-width: none;
  }
}
@media (max-width: 1200px) {
  header a {
    top: 73px;
    left: 40px;
  }
  
  main {
    margin-top: 150px;
    display: block;
    min-height: auto;
  }

  .container.text-container,
  .container.white-container {
    width: 100%;
    margin: 0 auto;
    transition: all .5s ease-in-out;
  }

  .container.text-container {
    min-height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .container.white-container {
    height: auto;
    margin-top: 60px;
  }

  .container.text-container .buttons-container {
    margin-top: 60px;
  }

  .container.white-container .no-messege img {
    display: none;
  }

  .container.white-container .with-messege {
    height: auto;
  }
  
  footer {
    margin: 30px 0;
  }

  @media (max-width: 600px) {
    body {
      padding: 16px;
    }

    header a {
      top: 24px;
      left: 16px;
    }

    .container.white-container{
      width: 95%;
      margin: 40px auto;
    }

    .container.text-container .buttons-container button {
      margin-top: 25px;
    }

    .container.white-container .no-messege h2{
      margin: 0px 0px 16px 0px;
    } 
  }
}